@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MJ</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">테스트 페이지</a>.</p>
</div>
